/* CSS Document */

.painting-1 {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.cream {
    background: #FBF5E3;
}

.red {
    background: #F04A3A;
}

.blue {
    background: #4496C5;
}

.yellow {
    background: #F8DF00;
}

.black {
    background: #4B413A;
}

.border-right-1 {
    border-right: 13px solid #4B413A;
}
.border-left-1 {
    border-left: 13px solid #4B413A;
}
.border-top-1 {
    border-top: 14px solid #4B413A;
}
.border-top-1-2 {
    border-top: 20px solid #4B413A;
}
.border-bottom-1 {
    border-bottom: 25px solid #4B413A;
}

.painting-2 {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.dark-blue {
    background: #0319A5;
}

.blueish-white {
    background: #BDCFD3;
}

.yellowish-white {
    background: #F3F7DC;
}

.dark-yellow {
    background: #E1B428;
}

.border-right-thin-2 {
    border-right: 3px solid #000;
}
.border-right-thick-2 {
    border-right: 14px solid #000;
}
.border-right-thick-2-2 {
    border-right: 17px solid #000;
}
.border-left-thick-2 {
    border-left: 17px solid #000;
}
.border-bottom-thin-2 {
    border-bottom: 3px solid #000;
}
.border-bottom-thin-2-2 {
    border-bottom: 5px solid #000;
}
.border-bottom-thick-2 {
    border-bottom: 20px solid #000;
}
.border-top-thin-2 {
    border-top: 3px solid #000;
}
.border-top-thick-2 {
    border-top: 10px solid #000;
}
.font {
    font-size: 30px;
}
.font-1 {
    font-size: 30px;
}

.painting-3 {
    display: grid;
    width: 600px;
    height: 680px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(17, 1fr);
}

.apple {
    background: #862A2B;
}
.banana {
    background: #D59B09;
}
.pink {
    background: #D5A7EC;
}
.orange {
    background: #CE5924;
}
.ocean {
    background: #0960A5;
}
.sky {
    background: #4895EF;
}
.grey-blue {
    background: #54878B;
}
.border-right-3 {
    border-right: 23px solid #D59B09;
}
.border-right-3-2 {
    border-right: 20px solid #D59B09;
}
.border-right-3-3 {
    border-right: 23px solid #54878B;
}
.border-right-3-4 {
    border-right: 15px solid #D59B09;
}
.border-right-3-5 {
    border-right: 30px solid #D59B09;
}
.border-right-3-6 {
    border-right: 21px solid #D59B09;
}
.border-right-3-7 {
    border-right: 21px solid #0960A5;
}
.border-right-3-8 {
    border-right: 6px solid #D59B09;
}
.border-left-3 {
    border-left: 25px solid #D59B09;
}
.border-left-3-2 {
    border-left: 10px solid #54878B;
}
.border-left-3-3 {
    border-left: 10px solid #D59B09;
}